extends auth

block auth
  form.signup.form-horizontal(action="/users", method="post")

    .control-group
      label.control-label(for='email') #{lingua.signup_form.email}
      .controls
        input#email(type='text', name="email", placeholder='#{lingua.signup_form.email}')

    .control-group
      label.control-label(for='username') #{lingua.signup_form.username}
      .controls
        input#username(type='text', name="username", placeholder='#{lingua.signup_form.username}')

    .control-group
      label.control-label(for='password') #{lingua.signup_form.password}
      .controls
        input#password(type='password', name="password", placeholder='#{lingua.signup_form.password}')

    .control-group
      label.control-label(for='locale') #{lingua.signup_form.language}
      .controls
        select(name="locale", placeholder='Locale')
          option(value="en") EN
          option(value="fr") FR
    .form-actions
      button.btn.btn-primary(type='submit') #{lingua.signup}
      &nbsp;
      | #{lingua.or}&nbsp;
      a.show-login(href="/login") #{lingua.login}
