
div.well.sidebar-nav
 ul.nav.nav-list
   - var resumeclass = ((title==='resume') ? 'active' : '')
   li(class=resumeclass)
    a(href='/users/'+req.user.id+'/accounts')
      i.icon-eye-open
      | #{lingua.accountResume}
   li.nav-header #{lingua.accountList}
   each account, i in accounts
     - var klass = (account.id === req.param('accountId') ? 'active' : '')
     li(class=klass)
      a(href='#account'+i+'-nav', data-toggle='collapse')
        i.icon-book
        span=account.name
        .pull-right 
          span(class='amountAccount',id='amountAccount_'+account.id)
     li
       - var inklass = (account.id === req.param('accountId') ? 'in' : '')
       ul.collapse.nav.nav-list(id='account'+i+'-nav', class=inklass)
         li
           a(href='/users/'+req.user.id+'/accounts/'+account.id+'/operations')
             i.icon-list-alt
             | #{lingua.accountOperations}
         li
           a(href='/users/'+req.user.id+'/accounts/'+account.id+'/graphs')
             i.icon-tasks
             | #{lingua.accountGraphs}
         li
           a(href='/users/'+req.user.id+'/accounts/'+account.id+'/settings')
             i.icon-wrench
             | #{lingua.accountSettings}
      li.divider
   li
     a.btn(href='#add-compte', data-toggle='modal')
       i.icon-plus
       | #{lingua.addAccount}

div(class='modal fade', id='add-compte')
  form(method='post', action='/users/'+req.user.id+'/account/')

    div.modal-header
      button.close(data-dismiss='modal')×
      h3 #{lingua.addAccount}
    
    div.modal-body
      .form-horizontal
        .control-group
          label.control-label(for='name') Nom
          .controls
            input#accountName(type='text', name='name', placeholder='Nom')

    div.modal-footer
      button(class='btn btn-error', data-dismiss='modal') Close
      button(type='submit', class='btn btn-success')
        i(class='icon-pencil icon-white')
        | Save

block pageScript
  script(type="text/javascript")
    function runYourFunctionWhenJQueryIsLoaded() {
      if (window.$){
          //possibly some other JQuery checks to make sure that everything is loaded here
          initNavAmounts();
      } else {
          setTimeout(runYourFunctionWhenJQueryIsLoaded, 50);
      }
    };
  
    var initNavAmounts = function() {
      $('.amountAccount').on('refresh', function(event, param1) {
          console.log(event);
          
          var accountId = event.currentTarget.id.replace('amountAccount_','');
          $.ajax({
              url: '/users/'+!{JSON.stringify(req.user.id)}+'/accounts/'+accountId+'/balance',
              type: "GET",
              contentType: "application/json",
              success: function (result) {
                if(result.balance<=0) {
                  $(event.currentTarget).removeClass('badge-warning badge-success').addClass('badge-important');
                } else if (result.balance<=200) {
                  $(event.currentTarget).removeClass('badge-important badge-success').addClass('badge-warning');
                } else {
                  $(event.currentTarget).removeClass('badge-warning badge-important').addClass('badge-success');
                }
                event.currentTarget.innerHTML = result.balance;
                console.log(result);
              },
              error: function (result, e) {
                console.log(result);
                alert(result + " : "+ e);
              }
          }); 
          
        });
        
      $('.amountAccount').trigger('refresh', ['Custom', 'Event']);
    };

    runYourFunctionWhenJQueryIsLoaded();