extends ../layouts/default

block content
  div.container
    div.row
      div.span3
        include ../accounts/navbar
      div.span9
        h2
          strong #{req.account.name}
          | : #{lingua.accountSettings}
        
        form.form-horizontal(method='POST', action='/users/'+req.user.id+'/accounts/'+req.account.id)
          input(type="hidden", name="_method", value="PUT")
          div.control-group
            label.control-label(for='inputName') #{lingua.name}
            div.controls
              input(type='text', id='inputName', name='name', value=req.account.name, placeholder=lingua.name)
          div.control-group
            div.controls
              button(class='btn btn-danger', href='#delete-account', data-toggle='modal') #{lingua.delete}
              span.help-inline Supprime le compte ainsi que toutes les opérations qui lui sont attachées
          div.form-actions
            button(type='submit', class='btn btn-primary') #{lingua.save}

  div(class='modal fade', id='delete-account')
    form(method='post', action='/users/'+req.user.id+'/accounts/'+req.account.id)
      input(type="hidden", name="_method", value="DELETE")
      div.modal-header
        button.close(data-dismiss='modal')×
        h3 #{lingua.deleteAccount.title}

      div.modal-body
        p #{lingua.deleteAccount.description(req.account.name)}

      div.modal-footer
        button(class='btn btn-error', data-dismiss='modal') #{lingua.close}
        button(type='submit', class='btn btn-danger') #{lingua.delete}

